<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Detection with YOLOv11</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Beer Detection using YOLOv11 🍺</h1>
    <p>Upload an image to detect beer bottles 🍻</p>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required><br><br>
        <input type="submit" value="Upload Image">
    </form>
</body>
</html>
